#word-overview-container {
  height: 5400px;
  width: 100%;
  background-color: #fefefe;
  padding-top: 70px;
}

#fixed-row {
  position: fixed;
  width: 100%;
  padding: 0 5px;
  justify-content: center;
}

/* #search-results-card-group {
  flex-basis: 800px;
} */

#search-results-card {
  flex-basis: 800px;
}

.year {
  margin-bottom: 475px;
}

hr {
  margin: 0 !important;
  z-index: 0;
}

#scroll-down-prompter {
  width: 100%;
  justify-content: center;
  display: flex;
}
