.number-of-variants {
  font-size: 80%;
  margin-left: 5px;
}

.side-pane-opener {
  display: flex;
  align-items: flex-end;
  border-radius: 4px;
}

.side-pane-opener:hover {
  cursor: pointer;
  background-color: #d8d9f2;
}
