.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-page-container {
  background-color: #1f2041;
  min-height: 100vh;
  color: #f6f6f6;
}

#search-button {
  background-color: #30703b;
  border-color: #266330;
}

#search-button:hover {
  background-color: #3d8e4a;
  border-color: #30703b;
}
