.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselect {
  user-select: none;
}

#main-page-container {
  background-color: #1f2041;
  min-height: 100vh;
  color: #f6f6f6;
}

#huxxiv-name {
  font-family: 'Orbitron', sans-serif;
  line-height: 100%;
}

#search-button {
  background-color: #43456d;
  border-color: #1f2041;
}

#search-button:hover {
  background-color: #535383;
  border-color: #43456d;
}

.error-field {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
