.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-page-container {
  background-color: #1f2041;
  min-height: 100vh;
  color: #f6f6f6;
}

#search-button {
  background-color: #43456d;
  border-color: #1f2041;
}

#search-button:hover {
  background-color: #535383;
  border-color: #43456d;
}
